<mat-card>
  <div class="container">
    <div class="row">
      <h3>Search Deal by Unique ID</h3>
    </div>
    <div class="row">
      <form class="row-expand" [formGroup]="searchForm" (submit)="searchFormSubmit()">
        <input id="searchText" class="search-bar" type="text"
          formControlName="searchText"
        >
        <button
          type="submit"
          mat-button
          color="primary">
            Search
        </button> 
      </form>
    </div>
  
    <div *ngIf="fxDeal" class="row">
      <fx-deal [fxDeal]="fxDeal"></fx-deal>
    </div>
  </div>
</mat-card>
